<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diccionario de Slang</title>
</head>
<body>
    <h1>Diccionario!</h1>
    <ul>
        <li><a href="{{ url_for('ver_diccionario') }}">Ver Diccionario</a></li>
        <li><a href="{{ url_for('agregar_palabra') }}">Agregar Palabra</a></li>
        <li><a href="{{ url_for('editar_palabra') }}">Editar Palabra</a></li>
        <li><a href="{{ url_for('borrar_palabra') }}">Borrar Palabra</a></li>
        <li><a href="{{ url_for('buscar_palabra') }}">Buscar Palabra</a></li>
    </ul>
</body>
</html>
